<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатель</title>
</head>
<body>
    <p th:text="${person.getName()} + ', ' + ${person.getYear()}">VALUE</p>
<br/>

    <div th:unless="${person.getTakenBooks().isEmpty()}">
        <hr/>
        <p style="font-weight: bold">Книги:</p>
        <div th:each="personBooks : ${person.getTakenBooks()}">
        <a th:href="@{/books/{id}(id=${personBooks.getBookId()})}"
                th:text="${personBooks.getName()} + ', ' + ${personBooks.getAuthor()} + ', ' + ${personBooks.getYear()}">values</a>
        </div>
        <hr/>
    </div>
    <div style="font-weight: bold" th:if="${person.getTakenBooks().isEmpty()}">
        Книги у читателя отсутсвуют
        <hr/>
    </div>
<br/>

    <form th:method="Get" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}" th:object="${person}">
        <input type="submit" value="Редактировать">
    </form>
    <br/>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}" th:object="${person}">
        <input type="submit" value="Удалить">
    </form>
<br/><br/>
<a href="/people">Назад</a>
</body>
</html>