<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатель</title>
</head>
<body>
    <p th:text="${person.getName()} + ', ' + ${person.getYear()}">VALUE</p>
<br/>
    <div style="font-weight: bold" th:if="${books.isEmpty()}">
        <p>Книги у читателя отсутсвуют</p>
        <hr/>
    </div>
    <div th:if="${!books.isEmpty()}">
        <hr/>
        <p style="font-weight: bold">Книги:</p>
        <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
                th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">values</a>
        </div>
        <hr/>
    </div>
<br/>

    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}" th:object="${person}">
        <input type="submit" value="Редактировать">
    </form>
    <br/>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
        <input type="submit" value="Удалить">
    </form>
<br/><br/>
<a href="/people">Назад</a>
</body>
</html>